*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background: #3b3939;
}
#header{  
    height: 10%;
    width: 100%;    
}
#bo1{
    margin-left: 1%;
    height: 6%;
    width: 10%;
    color:white;
    display: flex;
    
}
#bo1 .text{
    margin-left: 20px;
    margin-right: 20px;
}
#bo2{
    border-top: 8%;
    background-color: black;
    margin-left: 10%;
    border: 2px solid black;
    border-radius: 50px;
}
#bo2 p{
    height: 6%;
    width: 90%;
    color: white;
    margin-left: 1%;
    
    justify-content: center;
}
#bo3{
    margin-left: 10px;
    margin-top: 1%;
}
#box1{
    color: white;
    height: 4%;
    width: 30%;
    margin-left: 80%;
    display: flex;
}
#box1 .img #b3{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#box1 p{
    font-size: larger;
    }
#box1 #b3{
     width: 100%;
    margin-left: 85%;
    border: 0px solid rgb(0, 0, 0);
    border-radius:50% ;
    
    overflow: hidden;
}
#box2{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
#box2 h1{
    margin-top: 8%;
    font-size: 500%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight:lighter ;
    justify-content: center;
    display: flex;
    align-items: center;
}

#box3{
    margin-left: 20%;
    margin-top: 2%;
    height: 8%;
    width: 60%;
    background-color: white;
    border: 2px solid white;
    border-radius: 50px;
    display: grid;
    align-items: center;
    display: flex;
}
#box3 p{
    margin-left: 10px;
}
#box3 .logo{
    margin-left: 50%;
    display: flex;
}
#box3 .aimode{
    height: 6%;
  
    border: 1px solid white;
    border-radius: 50px;
    background-color: #e0e0e0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}
#box4{
    height: 20%;
    width: 80%;
    margin-left: 15%;
    margin-top: 2%;
    
    display: flex;
}
#box4 .card1{
    margin-left: 50px;
    border: 1px solid rgb(95, 94, 94);
    background-color: #4b4b4b;
    border-radius: 50px;
    height: 40%;
    width: 5%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
}
#box4 .card2{
    margin-left: 40px;
    border: 1px solid rgb(95, 94, 94);
    background-color: #4b4b4b;
     border: 1px solid black;
    border-radius: 50px;
    height: 40%;
    width: 5%;
     align-items: center;
    justify-content: center;
    display: flex;
    
}
#box4 .card3{
    margin-left: 40px;
    border: 1px solid rgb(95, 94, 94);
    background-color: #4b4b4b;
    border-radius: 50px;
    height: 40%;
    width: 5%;
     overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
}
#box4 .card4{
    border: 1px solid rgb(95, 94, 94);
    background-color: #4b4b4b;
    margin-left: 40px;
    border-radius: 50px;
    height: 40%;
    width: 5%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
}
#box4 .card5{
    border: 1px solid rgb(95, 94, 94);
    background-color: #4b4b4b;
    margin-left: 40px;
    border-radius: 50px;
    height:40%;
    width: 5%;
     overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
}
#box4 .card6{
    border: 1px solid rgb(95, 94, 94);
    background-color: #4b4b4b;
    margin-left: 40px;
    border-radius: 50px;
    height: 40%;
    width: 5%;
     overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
}
#box4 .card7{
    border: 1px solid rgb(95, 94, 94);
    background-color: #4b4b4b;
    margin-left: 40px;
    border-radius: 50px;
    height: 40%;
    width: 5%;
     overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
}
#box4 .card8{
    border: 1px solid rgb(95, 94, 94);
    background-color: #4b4b4b;
    margin-left: 40px;  
    border-radius: 50px;
    height: 40%;
    width: 5%;
     overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
}#box4 .card9{
    border: 1px solid rgb(95, 94, 94);
    background-color: #4b4b4b;
    margin-left: 40px;
    border-radius: 50px;
    height: 40%;
    width: 5%;
     overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
}